# This file prevents accidental commiting of local files

# Python / Virtual Environment
*.pyc
__pycache__/
pip-log.txt
pip-delete-this-arg.txt

# Django specific
db.sqlite3
/static_root/
/media/

# IDE and OS Files
.DS_Store
.vscode/
.idea/