# This file prevents accidental commiting of local files

# Python / Virtual Environment
*.pyc
__pycache__/
venv/
env/
pip-log.txt
pip-delete-this-arg.txt

# Django specific
db.sqlite3
/static_root/
/media/

# Environment Variables
.env

# IDE and OS Files
.DS_Store
.vscode/
.idea/