# This file prevents accidental commiting of local files

# Python / Virtual Environment
*.pyc
__pycache__/
pip-log.txt
pip-delete-this-arg.txt
.venv

# Django specific
/static_root/
/media/
db.sqlite3

# IDE and OS Files
.DS_Store
.vscode/
.idea/